<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{
        color:#fff;
            }
    p{
      color:red;
      font-family:courier;
      font-size:190%;
      font-weight: bold;
    }
    .iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}


</style>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/1" width="100%" height="475px" frameborder="0"></iframe>
</div>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/3" width="100%" height="475px" frameborder="0"></iframe>
</div>

<div align="center">

  <p> Coronavirus Cases:1595350</p>
  <p> Deaths : 95455 </p>
  <p> Recovered : 353975</p>
	<p> Active :  711382</p>
	<p> Date : 10/04/2020</p>
</div>
<div align="center">
  <p
</div>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <input id="search-input" class="from-control" type="text" placeholder="Enter Country name to search">
    </div>
  </div>
</div>


<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="country" data-order="desc">Country  </th>

        <th data-column="confirmed" data-order="desc">Confirmed  </th>
        <th data-column="deaths" data-order="desc">Deaths </th>
        <th data-column="recovered" data-order="desc">Recovered  </th>
        <th data-column="recovered" data-order="desc">Active  </th>

    </tr>

    <tbody id="myTable">


    </tbody>
</table>

<script>
	var myArray =[
    {
      "location": "US",
      "confirmed": 461437,
      "deaths": 16478,
      "recovered": 25410,
      "active": 425947
    },
    {
      "location": "Spain",
      "confirmed": 153222,
      "deaths": 15447,
      "recovered": 52165,
      "active": 85610
    },
    {
      "location": "Italy",
      "confirmed": 143626,
      "deaths": 18279,
      "recovered": 28470,
      "active": 96877
    },
    {
      "location": "France",
      "confirmed": 118781,
      "deaths": 12228,
      "recovered": 23413,
      "active": 83140
    },
    {
      "location": "Germany",
      "confirmed": 118181,
      "deaths": 2607,
      "recovered": 52407,
      "active": 63167
    },
    {
      "location": "China",
      "confirmed": 82883,
      "deaths": 3339,
      "recovered": 77679,
      "active": 1865
    },
    {
      "location": "Iran",
      "confirmed": 66220,
      "deaths": 4110,
      "recovered": 32309,
      "active": 29801
    },
    {
      "location": "United Kingdom",
      "confirmed": 65872,
      "deaths": 7993,
      "recovered": 359,
      "active": 57520
    },
    {
      "location": "Turkey",
      "confirmed": 42282,
      "deaths": 908,
      "recovered": 2142,
      "active": 39232
    },
    {
      "location": "Belgium",
      "confirmed": 24983,
      "deaths": 2523,
      "recovered": 5164,
      "active": 17296
    },
    {
      "location": "Switzerland",
      "confirmed": 24051,
      "deaths": 948,
      "recovered": 10600,
      "active": 12503
    },
    {
      "location": "Netherlands",
      "confirmed": 21903,
      "deaths": 2403,
      "recovered": 278,
      "active": 19222
    },
    {
      "location": "Canada",
      "confirmed": 20654,
      "deaths": 503,
      "recovered": 5162,
      "active": 0
    },
    {
      "location": "Brazil",
      "confirmed": 18092,
      "deaths": 950,
      "recovered": 173,
      "active": 16969
    },
    {
      "location": "Portugal",
      "confirmed": 13956,
      "deaths": 409,
      "recovered": 205,
      "active": 13342
    },
    {
      "location": "Austria",
      "confirmed": 13244,
      "deaths": 295,
      "recovered": 5240,
      "active": 7709
    },
    {
      "location": "Korea, South",
      "confirmed": 10423,
      "deaths": 204,
      "recovered": 6973,
      "active": 3246
    },
    {
      "location": "Russia",
      "confirmed": 10131,
      "deaths": 76,
      "recovered": 698,
      "active": 9357
    },
    {
      "location": "Israel",
      "confirmed": 9968,
      "deaths": 86,
      "recovered": 1011,
      "active": 8871
    },
    {
      "location": "Sweden",
      "confirmed": 9141,
      "deaths": 793,
      "recovered": 205,
      "active": 8143
    },
    {
      "location": "India",
      "confirmed": 6725,
      "deaths": 226,
      "recovered": 620,
      "active": 5879
    },
    {
      "location": "Ireland",
      "confirmed": 6574,
      "deaths": 263,
      "recovered": 25,
      "active": 6286
    },
    {
      "location": "Norway",
      "confirmed": 6211,
      "deaths": 108,
      "recovered": 32,
      "active": 6071
    },
    {
      "location": "Australia",
      "confirmed": 6108,
      "deaths": 51,
      "recovered": 1472,
      "active": 4585
    },
    {
      "location": "Chile",
      "confirmed": 5972,
      "deaths": 57,
      "recovered": 1274,
      "active": 4641
    },
    {
      "location": "Denmark",
      "confirmed": 5830,
      "deaths": 237,
      "recovered": 1883,
      "active": 3710
    },
    {
      "location": "Poland",
      "confirmed": 5575,
      "deaths": 174,
      "recovered": 284,
      "active": 5117
    },
    {
      "location": "Czechia",
      "confirmed": 5569,
      "deaths": 112,
      "recovered": 301,
      "active": 5156
    },
    {
      "location": "Peru",
      "confirmed": 5256,
      "deaths": 138,
      "recovered": 1438,
      "active": 3680
    },
    {
      "location": "Romania",
      "confirmed": 5202,
      "deaths": 248,
      "recovered": 647,
      "active": 4307
    },
    {
      "location": "Ecuador",
      "confirmed": 4965,
      "deaths": 272,
      "recovered": 339,
      "active": 4354
    },
    {
      "location": "Japan",
      "confirmed": 4667,
      "deaths": 94,
      "recovered": 632,
      "active": 3941
    },
    {
      "location": "Pakistan",
      "confirmed": 4489,
      "deaths": 65,
      "recovered": 572,
      "active": 3852
    },
    {
      "location": "Malaysia",
      "confirmed": 4228,
      "deaths": 67,
      "recovered": 1608,
      "active": 2553
    },
    {
      "location": "Philippines",
      "confirmed": 4076,
      "deaths": 203,
      "recovered": 124,
      "active": 3749
    },
    {
      "location": "Indonesia",
      "confirmed": 3293,
      "deaths": 280,
      "recovered": 252,
      "active": 2761
    },
    {
      "location": "Saudi Arabia",
      "confirmed": 3287,
      "deaths": 44,
      "recovered": 666,
      "active": 2577
    },
    {
      "location": "Mexico",
      "confirmed": 3181,
      "deaths": 174,
      "recovered": 633,
      "active": 2374
    },
    {
      "location": "Luxembourg",
      "confirmed": 3115,
      "deaths": 52,
      "recovered": 500,
      "active": 2563
    },
    {
      "location": "United Arab Emirates",
      "confirmed": 2990,
      "deaths": 14,
      "recovered": 268,
      "active": 2708
    },
    {
      "location": "Serbia",
      "confirmed": 2867,
      "deaths": 66,
      "recovered": 0,
      "active": 2801
    },
    {
      "location": "Finland",
      "confirmed": 2605,
      "deaths": 42,
      "recovered": 300,
      "active": 2263
    },
    {
      "location": "Panama",
      "confirmed": 2528,
      "deaths": 63,
      "recovered": 16,
      "active": 2449
    },
    {
      "location": "Thailand",
      "confirmed": 2423,
      "deaths": 32,
      "recovered": 940,
      "active": 1451
    },
    {
      "location": "Qatar",
      "confirmed": 2376,
      "deaths": 6,
      "recovered": 206,
      "active": 2164
    },
    {
      "location": "Dominican Republic",
      "confirmed": 2349,
      "deaths": 118,
      "recovered": 80,
      "active": 2151
    },
    {
      "location": "Colombia",
      "confirmed": 2223,
      "deaths": 69,
      "recovered": 174,
      "active": 1980
    },
    {
      "location": "Greece",
      "confirmed": 1955,
      "deaths": 87,
      "recovered": 269,
      "active": 1599
    },
    {
      "location": "South Africa",
      "confirmed": 1934,
      "deaths": 18,
      "recovered": 95,
      "active": 1821
    },
    {
      "location": "Singapore",
      "confirmed": 1910,
      "deaths": 6,
      "recovered": 460,
      "active": 1444
    },
    {
      "location": "Ukraine",
      "confirmed": 1892,
      "deaths": 57,
      "recovered": 45,
      "active": 1790
    },
    {
      "location": "Argentina",
      "confirmed": 1795,
      "deaths": 72,
      "recovered": 365,
      "active": 1358
    },
    {
      "location": "Egypt",
      "confirmed": 1699,
      "deaths": 118,
      "recovered": 348,
      "active": 1233
    },
    {
      "location": "Algeria",
      "confirmed": 1666,
      "deaths": 235,
      "recovered": 347,
      "active": 1084
    },
    {
      "location": "Iceland",
      "confirmed": 1648,
      "deaths": 6,
      "recovered": 688,
      "active": 954
    },
    {
      "location": "Belarus",
      "confirmed": 1486,
      "deaths": 16,
      "recovered": 139,
      "active": 1331
    },
    {
      "location": "Croatia",
      "confirmed": 1407,
      "deaths": 20,
      "recovered": 219,
      "active": 1168
    },
    {
      "location": "Morocco",
      "confirmed": 1374,
      "deaths": 97,
      "recovered": 109,
      "active": 1168
    },
    {
      "location": "Moldova",
      "confirmed": 1289,
      "deaths": 29,
      "recovered": 50,
      "active": 1210
    },
    {
      "location": "New Zealand",
      "confirmed": 1239,
      "deaths": 1,
      "recovered": 317,
      "active": 921
    },
    {
      "location": "Iraq",
      "confirmed": 1232,
      "deaths": 69,
      "recovered": 496,
      "active": 667
    },
    {
      "location": "Estonia",
      "confirmed": 1207,
      "deaths": 24,
      "recovered": 83,
      "active": 1100
    },
    {
      "location": "Slovenia",
      "confirmed": 1124,
      "deaths": 43,
      "recovered": 128,
      "active": 953
    },
    {
      "location": "Hungary",
      "confirmed": 980,
      "deaths": 66,
      "recovered": 96,
      "active": 818
    },
    {
      "location": "Lithuania",
      "confirmed": 955,
      "deaths": 16,
      "recovered": 8,
      "active": 931
    },
    {
      "location": "Azerbaijan",
      "confirmed": 926,
      "deaths": 9,
      "recovered": 101,
      "active": 816
    },
    {
      "location": "Armenia",
      "confirmed": 921,
      "deaths": 10,
      "recovered": 138,
      "active": 773
    },
    {
      "location": "Kuwait",
      "confirmed": 910,
      "deaths": 1,
      "recovered": 111,
      "active": 798
    },
    {
      "location": "Bahrain",
      "confirmed": 887,
      "deaths": 5,
      "recovered": 519,
      "active": 363
    },
    {
      "location": "Bosnia and Herzegovina",
      "confirmed": 858,
      "deaths": 35,
      "recovered": 101,
      "active": 722
    },
    {
      "location": "Kazakhstan",
      "confirmed": 781,
      "deaths": 8,
      "recovered": 60,
      "active": 713
    },
    {
      "location": "Cameroon",
      "confirmed": 730,
      "deaths": 10,
      "recovered": 60,
      "active": 660
    },
    {
      "location": "Diamond Princess",
      "confirmed": 712,
      "deaths": 11,
      "recovered": 619,
      "active": 82
    },
    {
      "location": "Slovakia",
      "confirmed": 701,
      "deaths": 2,
      "recovered": 23,
      "active": 676
    },
    {
      "location": "North Macedonia",
      "confirmed": 663,
      "deaths": 30,
      "recovered": 37,
      "active": 596
    },
    {
      "location": "Tunisia",
      "confirmed": 643,
      "deaths": 25,
      "recovered": 25,
      "active": 593
    },
    {
      "location": "Bulgaria",
      "confirmed": 618,
      "deaths": 24,
      "recovered": 48,
      "active": 546
    },
    {
      "location": "Latvia",
      "confirmed": 589,
      "deaths": 3,
      "recovered": 16,
      "active": 570
    },
    {
      "location": "Andorra",
      "confirmed": 583,
      "deaths": 25,
      "recovered": 58,
      "active": 500
    },
    {
      "location": "Lebanon",
      "confirmed": 582,
      "deaths": 19,
      "recovered": 67,
      "active": 496
    },
    {
      "location": "Uzbekistan",
      "confirmed": 582,
      "deaths": 3,
      "recovered": 38,
      "active": 541
    },
    {
      "location": "Cyprus",
      "confirmed": 564,
      "deaths": 10,
      "recovered": 53,
      "active": 501
    },
    {
      "location": "Costa Rica",
      "confirmed": 539,
      "deaths": 3,
      "recovered": 30,
      "active": 506
    },
    {
      "location": "Cuba",
      "confirmed": 515,
      "deaths": 15,
      "recovered": 28,
      "active": 472
    },
    {
      "location": "Afghanistan",
      "confirmed": 484,
      "deaths": 15,
      "recovered": 32,
      "active": 437
    },
    {
      "location": "Oman",
      "confirmed": 457,
      "deaths": 3,
      "recovered": 109,
      "active": 345
    },
    {
      "location": "Uruguay",
      "confirmed": 456,
      "deaths": 7,
      "recovered": 192,
      "active": 257
    },
    {
      "location": "Cote d'Ivoire",
      "confirmed": 444,
      "deaths": 3,
      "recovered": 52,
      "active": 389
    },
    {
      "location": "Burkina Faso",
      "confirmed": 443,
      "deaths": 24,
      "recovered": 146,
      "active": 273
    },
    {
      "location": "Niger",
      "confirmed": 410,
      "deaths": 11,
      "recovered": 40,
      "active": 359
    },
    {
      "location": "Albania",
      "confirmed": 409,
      "deaths": 23,
      "recovered": 165,
      "active": 221
    },
    {
      "location": "Taiwan*",
      "confirmed": 380,
      "deaths": 5,
      "recovered": 67,
      "active": 308
    },
    {
      "location": "Ghana",
      "confirmed": 378,
      "deaths": 6,
      "recovered": 3,
      "active": 369
    },
    {
      "location": "Jordan",
      "confirmed": 372,
      "deaths": 7,
      "recovered": 161,
      "active": 204
    },
    {
      "location": "Honduras",
      "confirmed": 343,
      "deaths": 23,
      "recovered": 6,
      "active": 314
    },
    {
      "location": "Malta",
      "confirmed": 337,
      "deaths": 2,
      "recovered": 16,
      "active": 319
    },
    {
      "location": "San Marino",
      "confirmed": 333,
      "deaths": 34,
      "recovered": 49,
      "active": 250
    },
    {
      "location": "Bangladesh",
      "confirmed": 330,
      "deaths": 21,
      "recovered": 33,
      "active": 276
    },
    {
      "location": "Mauritius",
      "confirmed": 314,
      "deaths": 7,
      "recovered": 23,
      "active": 284
    },
    {
      "location": "Nigeria",
      "confirmed": 288,
      "deaths": 7,
      "recovered": 51,
      "active": 230
    },
    {
      "location": "Kyrgyzstan",
      "confirmed": 280,
      "deaths": 4,
      "recovered": 35,
      "active": 241
    },
    {
      "location": "Bolivia",
      "confirmed": 264,
      "deaths": 18,
      "recovered": 2,
      "active": 244
    },
    {
      "location": "West Bank and Gaza",
      "confirmed": 263,
      "deaths": 1,
      "recovered": 44,
      "active": 218
    },
    {
      "location": "Vietnam",
      "confirmed": 255,
      "deaths": 0,
      "recovered": 128,
      "active": 127
    },
    {
      "location": "Montenegro",
      "confirmed": 252,
      "deaths": 2,
      "recovered": 4,
      "active": 246
    },
    {
      "location": "Senegal",
      "confirmed": 250,
      "deaths": 2,
      "recovered": 123,
      "active": 125
    },
    {
      "location": "Georgia",
      "confirmed": 218,
      "deaths": 3,
      "recovered": 51,
      "active": 164
    },
    {
      "location": "Guinea",
      "confirmed": 194,
      "deaths": 0,
      "recovered": 11,
      "active": 183
    },
    {
      "location": "Sri Lanka",
      "confirmed": 190,
      "deaths": 7,
      "recovered": 49,
      "active": 134
    },
    {
      "location": "Kosovo",
      "confirmed": 184,
      "deaths": 5,
      "recovered": 30,
      "active": 149
    },
    {
      "location": "Kenya",
      "confirmed": 184,
      "deaths": 7,
      "recovered": 12,
      "active": 165
    },
    {
      "location": "Congo (Kinshasa)",
      "confirmed": 180,
      "deaths": 18,
      "recovered": 9,
      "active": 153
    },
    {
      "location": "Venezuela",
      "confirmed": 171,
      "deaths": 9,
      "recovered": 84,
      "active": 78
    },
    {
      "location": "Djibouti",
      "confirmed": 135,
      "deaths": 0,
      "recovered": 25,
      "active": 110
    },
    {
      "location": "Brunei",
      "confirmed": 135,
      "deaths": 1,
      "recovered": 92,
      "active": 42
    },
    {
      "location": "Paraguay",
      "confirmed": 124,
      "deaths": 5,
      "recovered": 18,
      "active": 101
    },
    {
      "location": "Cambodia",
      "confirmed": 119,
      "deaths": 0,
      "recovered": 62,
      "active": 57
    },
    {
      "location": "Rwanda",
      "confirmed": 110,
      "deaths": 0,
      "recovered": 7,
      "active": 103
    },
    {
      "location": "Trinidad and Tobago",
      "confirmed": 109,
      "deaths": 8,
      "recovered": 1,
      "active": 100
    },
    {
      "location": "El Salvador",
      "confirmed": 103,
      "deaths": 6,
      "recovered": 14,
      "active": 83
    },
    {
      "location": "Guatemala",
      "confirmed": 95,
      "deaths": 3,
      "recovered": 17,
      "active": 75
    },
    {
      "location": "Madagascar",
      "confirmed": 93,
      "deaths": 0,
      "recovered": 11,
      "active": 82
    },
    {
      "location": "Monaco",
      "confirmed": 84,
      "deaths": 1,
      "recovered": 5,
      "active": 78
    },
    {
      "location": "Liechtenstein",
      "confirmed": 78,
      "deaths": 1,
      "recovered": 55,
      "active": 22
    },
    {
      "location": "Mali",
      "confirmed": 74,
      "deaths": 7,
      "recovered": 22,
      "active": 45
    },
    {
      "location": "Togo",
      "confirmed": 73,
      "deaths": 3,
      "recovered": 24,
      "active": 46
    },
    {
      "location": "Barbados",
      "confirmed": 66,
      "deaths": 3,
      "recovered": 11,
      "active": 52
    },
    {
      "location": "Jamaica",
      "confirmed": 63,
      "deaths": 4,
      "recovered": 12,
      "active": 47
    },
    {
      "location": "Congo (Brazzaville)",
      "confirmed": 60,
      "deaths": 5,
      "recovered": 5,
      "active": 50
    },
    {
      "location": "Ethiopia",
      "confirmed": 56,
      "deaths": 2,
      "recovered": 4,
      "active": 50
    },
    {
      "location": "Uganda",
      "confirmed": 53,
      "deaths": 0,
      "recovered": 0,
      "active": 53
    },
    {
      "location": "Gabon",
      "confirmed": 44,
      "deaths": 1,
      "recovered": 1,
      "active": 42
    },
    {
      "location": "Bahamas",
      "confirmed": 41,
      "deaths": 8,
      "recovered": 5,
      "active": 28
    },
    {
      "location": "Zambia",
      "confirmed": 39,
      "deaths": 1,
      "recovered": 24,
      "active": 14
    },
    {
      "location": "Guyana",
      "confirmed": 37,
      "deaths": 6,
      "recovered": 8,
      "active": 23
    },
    {
      "location": "Guinea-Bissau",
      "confirmed": 36,
      "deaths": 0,
      "recovered": 0,
      "active": 36
    },
    {
      "location": "Eritrea",
      "confirmed": 33,
      "deaths": 0,
      "recovered": 0,
      "active": 33
    },
    {
      "location": "Liberia",
      "confirmed": 31,
      "deaths": 4,
      "recovered": 3,
      "active": 24
    },
    {
      "location": "Haiti",
      "confirmed": 30,
      "deaths": 2,
      "recovered": 0,
      "active": 28
    },
    {
      "location": "Benin",
      "confirmed": 26,
      "deaths": 1,
      "recovered": 5,
      "active": 20
    },
    {
      "location": "Tanzania",
      "confirmed": 25,
      "deaths": 1,
      "recovered": 5,
      "active": 19
    },
    {
      "location": "Libya",
      "confirmed": 24,
      "deaths": 1,
      "recovered": 8,
      "active": 15
    },
    {
      "location": "Burma",
      "confirmed": 23,
      "deaths": 3,
      "recovered": 2,
      "active": 18
    },
    {
      "location": "Maldives",
      "confirmed": 19,
      "deaths": 0,
      "recovered": 13,
      "active": 6
    },
    {
      "location": "Syria",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 4,
      "active": 13
    },
    {
      "location": "Antigua and Barbuda",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 0,
      "active": 17
    },
    {
      "location": "Angola",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 2,
      "active": 15
    },
    {
      "location": "Equatorial Guinea",
      "confirmed": 18,
      "deaths": 0,
      "recovered": 3,
      "active": 15
    },
    {
      "location": "Mozambique",
      "confirmed": 17,
      "deaths": 0,
      "recovered": 1,
      "active": 16
    },
    {
      "location": "Namibia",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 3,
      "active": 13
    },
    {
      "location": "Laos",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 0,
      "active": 16
    },
    {
      "location": "Mongolia",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 4,
      "active": 12
    },
    {
      "location": "Fiji",
      "confirmed": 15,
      "deaths": 0,
      "recovered": 0,
      "active": 15
    },
    {
      "location": "Dominica",
      "confirmed": 15,
      "deaths": 0,
      "recovered": 1,
      "active": 14
    },
    {
      "location": "Sudan",
      "confirmed": 15,
      "deaths": 2,
      "recovered": 2,
      "active": 11
    },
    {
      "location": "Saint Lucia",
      "confirmed": 14,
      "deaths": 0,
      "recovered": 1,
      "active": 13
    },
    {
      "location": "Botswana",
      "confirmed": 13,
      "deaths": 1,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Grenada",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Saint Vincent and the Grenadines",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 1,
      "active": 11
    },
    {
      "location": "Somalia",
      "confirmed": 12,
      "deaths": 1,
      "recovered": 1,
      "active": 10
    },
    {
      "location": "Eswatini",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 7,
      "active": 5
    },
    {
      "location": "Zimbabwe",
      "confirmed": 11,
      "deaths": 3,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Chad",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 2,
      "active": 9
    },
    {
      "location": "Saint Kitts and Nevis",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 0,
      "active": 11
    },
    {
      "location": "Seychelles",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 0,
      "active": 11
    },
    {
      "location": "Suriname",
      "confirmed": 10,
      "deaths": 1,
      "recovered": 4,
      "active": 5
    },
    {
      "location": "MS Zaandam",
      "confirmed": 9,
      "deaths": 2,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Nepal",
      "confirmed": 9,
      "deaths": 0,
      "recovered": 1,
      "active": 8
    },
    {
      "location": "Belize",
      "confirmed": 9,
      "deaths": 1,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Malawi",
      "confirmed": 8,
      "deaths": 1,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Holy See",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 2,
      "active": 6
    },
    {
      "location": "Central African Republic",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Nicaragua",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Mauritania",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 2,
      "active": 4
    },
    {
      "location": "Sierra Leone",
      "confirmed": 7,
      "deaths": 0,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Cabo Verde",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 1,
      "active": 5
    },
    {
      "location": "Bhutan",
      "confirmed": 5,
      "deaths": 0,
      "recovered": 2,
      "active": 3
    },
    {
      "location": "Sao Tome and Principe",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Western Sahara",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Gambia",
      "confirmed": 4,
      "deaths": 1,
      "recovered": 2,
      "active": 1
    },
    {
      "location": "Burundi",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "South Sudan",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Papua New Guinea",
      "confirmed": 2,
      "deaths": 0,
      "recovered": 0,
      "active": 2
    },
    {
      "location": "Timor-Leste",
      "confirmed": 1,
      "deaths": 0,
      "recovered": 0,
      "active": 1
    }
  ]
  $('#search-input').on('keyup',function(){
    var value=$(this).val()
    console.log('Value:',value)
    var data=searchTable(value,myArray)
    buildTable(data)
  })

	buildTable(myArray)

  function searchTable(value,data){
    var filteredData=[]

    for (var i=0;i<data.length;i++){
      value=value.toLowerCase()
      var name=data[i].location.toLowerCase()
      if(name.includes(value)){
        filteredData.push(data[i])
      }
    }
    return filteredData
  }



	function buildTable(data){
		var table = document.getElementById('myTable')
    table.innerHTML=''
		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].location}</td>
							<td>${data[i].confirmed}</td>
							<td>${data[i].deaths}</td>
              <td>${data[i].recovered}</td>
              <td>${data[i].active}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>
<!-- Footer -->
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div>

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/202001/un_precautions_coronavirus-x1080.png" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> Published in public interest</a>
  </div>
  <!-- Copyright -->
  <a href='https://www.stat-counter.org/'>https://www.stat-counter.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a0b8bfccd8110643f4d27a13b44cef6ba91a2f77'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/652660/t/2"></script>


</footer>
<!-- Footer -->
<!-- Footer -->
</html>
