<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{
        color:#fff;
            }
    p{
      color:red;
      font-family:courier;
      font-size:190%;
      font-weight: bold;
    }
    .iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}


</style>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/1" width="100%" height="475px" frameborder="0"></iframe>
</div>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/3" width="100%" height="475px" frameborder="0"></iframe>
</div>

<div align="center">

  <p> Coronavirus Cases:782365</p>
  <p> Deaths : 37582 </p>
  <p> Recovered :164566 </p>
	<p> Active :  420180 </p>
  <p> Date : 31/03/2020 </p>
</div>
<div align="center">
  <p
</div>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <input id="search-input" class="from-control" type="text" placeholder="Enter Country name to search">
    </div>
  </div>
</div>


<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="country" data-order="desc">Country  </th>

        <th data-column="confirmed" data-order="desc">Confirmed  </th>
        <th data-column="deaths" data-order="desc">Deaths </th>
        <th data-column="recovered" data-order="desc">Recovered  </th>
        <th data-column="recovered" data-order="desc">Active  </th>

    </tr>

    <tbody id="myTable">


    </tbody>
</table>

<script>
	var myArray = [
    {
      "location": "US",
      "confirmed": 161807,
      "deaths": 2978,
      "recovered": 5644,
      "active": 0
    },
    {
      "location": "Italy",
      "confirmed": 101739,
      "deaths": 11591,
      "recovered": 14620,
      "active": 75528
    },
    {
      "location": "Spain",
      "confirmed": 87956,
      "deaths": 7716,
      "recovered": 16780,
      "active": 63460
    },
    {
      "location": "China",
      "confirmed": 82198,
      "deaths": 3308,
      "recovered": 75923,
      "active": 2967
    },
    {
      "location": "Germany",
      "confirmed": 66885,
      "deaths": 645,
      "recovered": 13500,
      "active": 52740
    },
    {
      "location": "France",
      "confirmed": 45170,
      "deaths": 3030,
      "recovered": 7964,
      "active": 34176
    },
    {
      "location": "Iran",
      "confirmed": 41495,
      "deaths": 2757,
      "recovered": 13911,
      "active": 24827
    },
    {
      "location": "United Kingdom",
      "confirmed": 22453,
      "deaths": 1411,
      "recovered": 171,
      "active": 20871
    },
    {
      "location": "Switzerland",
      "confirmed": 15922,
      "deaths": 359,
      "recovered": 1823,
      "active": 13740
    },
    {
      "location": "Belgium",
      "confirmed": 11899,
      "deaths": 513,
      "recovered": 1527,
      "active": 9859
    },
    {
      "location": "Netherlands",
      "confirmed": 11817,
      "deaths": 865,
      "recovered": 253,
      "active": 10699
    },
    {
      "location": "Turkey",
      "confirmed": 10827,
      "deaths": 168,
      "recovered": 162,
      "active": 10497
    },
    {
      "location": "Korea, South",
      "confirmed": 9661,
      "deaths": 158,
      "recovered": 5228,
      "active": 4275
    },
    {
      "location": "Austria",
      "confirmed": 9618,
      "deaths": 108,
      "recovered": 636,
      "active": 8874
    },
    {
      "location": "Canada",
      "confirmed": 7398,
      "deaths": 80,
      "recovered": 466,
      "active": 0
    },
    {
      "location": "Portugal",
      "confirmed": 6408,
      "deaths": 140,
      "recovered": 43,
      "active": 6225
    },
    {
      "location": "Israel",
      "confirmed": 4695,
      "deaths": 16,
      "recovered": 161,
      "active": 4518
    },
    {
      "location": "Brazil",
      "confirmed": 4579,
      "deaths": 159,
      "recovered": 120,
      "active": 4300
    },
    {
      "location": "Norway",
      "confirmed": 4445,
      "deaths": 32,
      "recovered": 12,
      "active": 4401
    },
    {
      "location": "Australia",
      "confirmed": 4361,
      "deaths": 17,
      "recovered": 257,
      "active": 4087
    },
    {
      "location": "Sweden",
      "confirmed": 4028,
      "deaths": 146,
      "recovered": 16,
      "active": 3866
    },
    {
      "location": "Czechia",
      "confirmed": 3001,
      "deaths": 23,
      "recovered": 25,
      "active": 2953
    },
    {
      "location": "Ireland",
      "confirmed": 2910,
      "deaths": 54,
      "recovered": 5,
      "active": 2851
    },
    {
      "location": "Denmark",
      "confirmed": 2755,
      "deaths": 77,
      "recovered": 73,
      "active": 2605
    },
    {
      "location": "Malaysia",
      "confirmed": 2626,
      "deaths": 37,
      "recovered": 479,
      "active": 2110
    },
    {
      "location": "Chile",
      "confirmed": 2449,
      "deaths": 8,
      "recovered": 156,
      "active": 2285
    },
    {
      "location": "Romania",
      "confirmed": 2109,
      "deaths": 65,
      "recovered": 209,
      "active": 1835
    },
    {
      "location": "Poland",
      "confirmed": 2055,
      "deaths": 31,
      "recovered": 7,
      "active": 2017
    },
    {
      "location": "Luxembourg",
      "confirmed": 1988,
      "deaths": 22,
      "recovered": 40,
      "active": 1926
    },
    {
      "location": "Ecuador",
      "confirmed": 1962,
      "deaths": 60,
      "recovered": 3,
      "active": 1899
    },
    {
      "location": "Japan",
      "confirmed": 1866,
      "deaths": 54,
      "recovered": 424,
      "active": 1388
    },
    {
      "location": "Russia",
      "confirmed": 1836,
      "deaths": 9,
      "recovered": 66,
      "active": 1761
    },
    {
      "location": "Pakistan",
      "confirmed": 1717,
      "deaths": 21,
      "recovered": 76,
      "active": 1620
    },
    {
      "location": "Philippines",
      "confirmed": 1546,
      "deaths": 78,
      "recovered": 42,
      "active": 1426
    },
    {
      "location": "Thailand",
      "confirmed": 1524,
      "deaths": 9,
      "recovered": 229,
      "active": 1286
    },
    {
      "location": "Saudi Arabia",
      "confirmed": 1453,
      "deaths": 8,
      "recovered": 115,
      "active": 1330
    },
    {
      "location": "Indonesia",
      "confirmed": 1414,
      "deaths": 122,
      "recovered": 75,
      "active": 1217
    },
    {
      "location": "Finland",
      "confirmed": 1352,
      "deaths": 13,
      "recovered": 10,
      "active": 1329
    },
    {
      "location": "South Africa",
      "confirmed": 1326,
      "deaths": 3,
      "recovered": 31,
      "active": 1292
    },
    {
      "location": "India",
      "confirmed": 1251,
      "deaths": 32,
      "recovered": 102,
      "active": 1117
    },
    {
      "location": "Greece",
      "confirmed": 1212,
      "deaths": 43,
      "recovered": 52,
      "active": 1117
    },
    {
      "location": "Iceland",
      "confirmed": 1086,
      "deaths": 2,
      "recovered": 157,
      "active": 927
    },
    {
      "location": "Mexico",
      "confirmed": 993,
      "deaths": 20,
      "recovered": 35,
      "active": 938
    },
    {
      "location": "Panama",
      "confirmed": 989,
      "deaths": 24,
      "recovered": 4,
      "active": 961
    },
    {
      "location": "Peru",
      "confirmed": 950,
      "deaths": 24,
      "recovered": 53,
      "active": 873
    },
    {
      "location": "Dominican Republic",
      "confirmed": 901,
      "deaths": 42,
      "recovered": 4,
      "active": 855
    },
    {
      "location": "Singapore",
      "confirmed": 879,
      "deaths": 3,
      "recovered": 228,
      "active": 648
    },
    {
      "location": "Argentina",
      "confirmed": 820,
      "deaths": 23,
      "recovered": 228,
      "active": 569
    },
    {
      "location": "Colombia",
      "confirmed": 798,
      "deaths": 12,
      "recovered": 15,
      "active": 771
    },
    {
      "location": "Croatia",
      "confirmed": 790,
      "deaths": 6,
      "recovered": 67,
      "active": 717
    },
    {
      "location": "Serbia",
      "confirmed": 785,
      "deaths": 16,
      "recovered": 0,
      "active": 769
    },
    {
      "location": "Slovenia",
      "confirmed": 756,
      "deaths": 11,
      "recovered": 10,
      "active": 735
    },
    {
      "location": "Estonia",
      "confirmed": 715,
      "deaths": 3,
      "recovered": 20,
      "active": 692
    },
    {
      "location": "Diamond Princess",
      "confirmed": 712,
      "deaths": 10,
      "recovered": 603,
      "active": 99
    },
    {
      "location": "Qatar",
      "confirmed": 693,
      "deaths": 1,
      "recovered": 51,
      "active": 641
    },
    {
      "location": "Egypt",
      "confirmed": 656,
      "deaths": 41,
      "recovered": 150,
      "active": 465
    },
    {
      "location": "Iraq",
      "confirmed": 630,
      "deaths": 46,
      "recovered": 152,
      "active": 432
    },
    {
      "location": "United Arab Emirates",
      "confirmed": 611,
      "deaths": 5,
      "recovered": 61,
      "active": 545
    },
    {
      "location": "New Zealand",
      "confirmed": 589,
      "deaths": 1,
      "recovered": 63,
      "active": 525
    },
    {
      "location": "Algeria",
      "confirmed": 584,
      "deaths": 35,
      "recovered": 37,
      "active": 512
    },
    {
      "location": "Morocco",
      "confirmed": 556,
      "deaths": 33,
      "recovered": 15,
      "active": 508
    },
    {
      "location": "Ukraine",
      "confirmed": 548,
      "deaths": 13,
      "recovered": 8,
      "active": 527
    },
    {
      "location": "Bahrain",
      "confirmed": 515,
      "deaths": 4,
      "recovered": 279,
      "active": 232
    },
    {
      "location": "Lithuania",
      "confirmed": 491,
      "deaths": 7,
      "recovered": 7,
      "active": 477
    },
    {
      "location": "Armenia",
      "confirmed": 482,
      "deaths": 3,
      "recovered": 30,
      "active": 449
    },
    {
      "location": "Hungary",
      "confirmed": 447,
      "deaths": 15,
      "recovered": 34,
      "active": 398
    },
    {
      "location": "Lebanon",
      "confirmed": 446,
      "deaths": 11,
      "recovered": 35,
      "active": 400
    },
    {
      "location": "Latvia",
      "confirmed": 376,
      "deaths": 0,
      "recovered": 1,
      "active": 375
    },
    {
      "location": "Andorra",
      "confirmed": 370,
      "deaths": 8,
      "recovered": 10,
      "active": 352
    },
    {
      "location": "Bosnia and Herzegovina",
      "confirmed": 368,
      "deaths": 10,
      "recovered": 17,
      "active": 341
    },
    {
      "location": "Bulgaria",
      "confirmed": 359,
      "deaths": 8,
      "recovered": 17,
      "active": 334
    },
    {
      "location": "Slovakia",
      "confirmed": 336,
      "deaths": 0,
      "recovered": 7,
      "active": 329
    },
    {
      "location": "Costa Rica",
      "confirmed": 330,
      "deaths": 2,
      "recovered": 4,
      "active": 324
    },
    {
      "location": "Tunisia",
      "confirmed": 312,
      "deaths": 8,
      "recovered": 3,
      "active": 301
    },
    {
      "location": "Uruguay",
      "confirmed": 310,
      "deaths": 1,
      "recovered": 0,
      "active": 309
    },
    {
      "location": "Taiwan*",
      "confirmed": 306,
      "deaths": 5,
      "recovered": 39,
      "active": 262
    },
    {
      "location": "Kazakhstan",
      "confirmed": 302,
      "deaths": 1,
      "recovered": 21,
      "active": 280
    },
    {
      "location": "Moldova",
      "confirmed": 298,
      "deaths": 2,
      "recovered": 15,
      "active": 281
    },
    {
      "location": "North Macedonia",
      "confirmed": 285,
      "deaths": 7,
      "recovered": 12,
      "active": 266
    },
    {
      "location": "Azerbaijan",
      "confirmed": 273,
      "deaths": 4,
      "recovered": 26,
      "active": 243
    },
    {
      "location": "Jordan",
      "confirmed": 268,
      "deaths": 5,
      "recovered": 26,
      "active": 237
    },
    {
      "location": "Kuwait",
      "confirmed": 266,
      "deaths": 0,
      "recovered": 72,
      "active": 194
    },
    {
      "location": "Burkina Faso",
      "confirmed": 246,
      "deaths": 12,
      "recovered": 31,
      "active": 203
    },
    {
      "location": "Cyprus",
      "confirmed": 230,
      "deaths": 7,
      "recovered": 22,
      "active": 201
    },
    {
      "location": "San Marino",
      "confirmed": 230,
      "deaths": 25,
      "recovered": 13,
      "active": 192
    },
    {
      "location": "Albania",
      "confirmed": 223,
      "deaths": 11,
      "recovered": 44,
      "active": 168
    },
    {
      "location": "Vietnam",
      "confirmed": 203,
      "deaths": 0,
      "recovered": 55,
      "active": 148
    },
    {
      "location": "Oman",
      "confirmed": 179,
      "deaths": 0,
      "recovered": 29,
      "active": 150
    },
    {
      "location": "Afghanistan",
      "confirmed": 170,
      "deaths": 4,
      "recovered": 2,
      "active": 164
    },
    {
      "location": "Cuba",
      "confirmed": 170,
      "deaths": 4,
      "recovered": 4,
      "active": 162
    },
    {
      "location": "Cote d'Ivoire",
      "confirmed": 168,
      "deaths": 1,
      "recovered": 6,
      "active": 161
    },
    {
      "location": "Senegal",
      "confirmed": 162,
      "deaths": 0,
      "recovered": 27,
      "active": 135
    },
    {
      "location": "Malta",
      "confirmed": 156,
      "deaths": 0,
      "recovered": 2,
      "active": 154
    },
    {
      "location": "Ghana",
      "confirmed": 152,
      "deaths": 5,
      "recovered": 2,
      "active": 145
    },
    {
      "location": "Belarus",
      "confirmed": 152,
      "deaths": 0,
      "recovered": 32,
      "active": 120
    },
    {
      "location": "Uzbekistan",
      "confirmed": 149,
      "deaths": 2,
      "recovered": 7,
      "active": 140
    },
    {
      "location": "Honduras",
      "confirmed": 139,
      "deaths": 7,
      "recovered": 3,
      "active": 129
    },
    {
      "location": "Cameroon",
      "confirmed": 139,
      "deaths": 6,
      "recovered": 5,
      "active": 128
    },
    {
      "location": "Venezuela",
      "confirmed": 135,
      "deaths": 3,
      "recovered": 39,
      "active": 93
    },
    {
      "location": "Nigeria",
      "confirmed": 131,
      "deaths": 2,
      "recovered": 8,
      "active": 121
    },
    {
      "location": "Mauritius",
      "confirmed": 128,
      "deaths": 3,
      "recovered": 0,
      "active": 125
    },
    {
      "location": "Brunei",
      "confirmed": 127,
      "deaths": 1,
      "recovered": 38,
      "active": 88
    },
    {
      "location": "Sri Lanka",
      "confirmed": 122,
      "deaths": 2,
      "recovered": 15,
      "active": 105
    },
    {
      "location": "West Bank and Gaza",
      "confirmed": 116,
      "deaths": 1,
      "recovered": 18,
      "active": 97
    },
    {
      "location": "Cambodia",
      "confirmed": 107,
      "deaths": 0,
      "recovered": 21,
      "active": 86
    },
    {
      "location": "Georgia",
      "confirmed": 103,
      "deaths": 0,
      "recovered": 20,
      "active": 83
    },
    {
      "location": "Bolivia",
      "confirmed": 97,
      "deaths": 4,
      "recovered": 0,
      "active": 93
    },
    {
      "location": "Kosovo",
      "confirmed": 94,
      "deaths": 1,
      "recovered": 1,
      "active": 92
    },
    {
      "location": "Kyrgyzstan",
      "confirmed": 94,
      "deaths": 0,
      "recovered": 3,
      "active": 91
    },
    {
      "location": "Montenegro",
      "confirmed": 91,
      "deaths": 1,
      "recovered": 0,
      "active": 90
    },
    {
      "location": "Trinidad and Tobago",
      "confirmed": 82,
      "deaths": 3,
      "recovered": 1,
      "active": 78
    },
    {
      "location": "Congo (Kinshasa)",
      "confirmed": 81,
      "deaths": 8,
      "recovered": 2,
      "active": 71
    },
    {
      "location": "Rwanda",
      "confirmed": 70,
      "deaths": 0,
      "recovered": 0,
      "active": 70
    },
    {
      "location": "Paraguay",
      "confirmed": 64,
      "deaths": 3,
      "recovered": 1,
      "active": 60
    },
    {
      "location": "Liechtenstein",
      "confirmed": 62,
      "deaths": 0,
      "recovered": 0,
      "active": 62
    },
    {
      "location": "Kenya",
      "confirmed": 50,
      "deaths": 1,
      "recovered": 1,
      "active": 48
    },
    {
      "location": "Monaco",
      "confirmed": 49,
      "deaths": 1,
      "recovered": 1,
      "active": 47
    },
    {
      "location": "Bangladesh",
      "confirmed": 49,
      "deaths": 5,
      "recovered": 19,
      "active": 25
    },
    {
      "location": "Madagascar",
      "confirmed": 43,
      "deaths": 0,
      "recovered": 0,
      "active": 43
    },
    {
      "location": "Jamaica",
      "confirmed": 36,
      "deaths": 1,
      "recovered": 2,
      "active": 33
    },
    {
      "location": "Guatemala",
      "confirmed": 36,
      "deaths": 1,
      "recovered": 10,
      "active": 25
    },
    {
      "location": "Zambia",
      "confirmed": 35,
      "deaths": 0,
      "recovered": 0,
      "active": 35
    },
    {
      "location": "Barbados",
      "confirmed": 33,
      "deaths": 0,
      "recovered": 0,
      "active": 33
    },
    {
      "location": "Uganda",
      "confirmed": 33,
      "deaths": 0,
      "recovered": 0,
      "active": 33
    },
    {
      "location": "El Salvador",
      "confirmed": 30,
      "deaths": 0,
      "recovered": 0,
      "active": 30
    },
    {
      "location": "Togo",
      "confirmed": 30,
      "deaths": 1,
      "recovered": 1,
      "active": 28
    },
    {
      "location": "Niger",
      "confirmed": 27,
      "deaths": 3,
      "recovered": 0,
      "active": 24
    },
    {
      "location": "Mali",
      "confirmed": 25,
      "deaths": 2,
      "recovered": 0,
      "active": 23
    },
    {
      "location": "Ethiopia",
      "confirmed": 23,
      "deaths": 0,
      "recovered": 4,
      "active": 19
    },
    {
      "location": "Guinea",
      "confirmed": 22,
      "deaths": 0,
      "recovered": 0,
      "active": 22
    },
    {
      "location": "Tanzania",
      "confirmed": 19,
      "deaths": 0,
      "recovered": 1,
      "active": 18
    },
    {
      "location": "Congo (Brazzaville)",
      "confirmed": 19,
      "deaths": 0,
      "recovered": 0,
      "active": 19
    },
    {
      "location": "Djibouti",
      "confirmed": 18,
      "deaths": 0,
      "recovered": 0,
      "active": 18
    },
    {
      "location": "Maldives",
      "confirmed": 17,
      "deaths": 0,
      "recovered": 13,
      "active": 4
    },
    {
      "location": "Haiti",
      "confirmed": 15,
      "deaths": 0,
      "recovered": 1,
      "active": 14
    },
    {
      "location": "Burma",
      "confirmed": 14,
      "deaths": 0,
      "recovered": 0,
      "active": 14
    },
    {
      "location": "Bahamas",
      "confirmed": 14,
      "deaths": 0,
      "recovered": 1,
      "active": 13
    },
    {
      "location": "Eritrea",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Equatorial Guinea",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Mongolia",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 2,
      "active": 10
    },
    {
      "location": "Dominica",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 0,
      "active": 11
    },
    {
      "location": "Namibia",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 2,
      "active": 9
    },
    {
      "location": "Syria",
      "confirmed": 10,
      "deaths": 2,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Grenada",
      "confirmed": 9,
      "deaths": 0,
      "recovered": 0,
      "active": 9
    },
    {
      "location": "Saint Lucia",
      "confirmed": 9,
      "deaths": 0,
      "recovered": 1,
      "active": 8
    },
    {
      "location": "Eswatini",
      "confirmed": 9,
      "deaths": 0,
      "recovered": 0,
      "active": 9
    },
    {
      "location": "Suriname",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Laos",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Seychelles",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Libya",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Guinea-Bissau",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Guyana",
      "confirmed": 8,
      "deaths": 1,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Mozambique",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Zimbabwe",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Antigua and Barbuda",
      "confirmed": 7,
      "deaths": 0,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Angola",
      "confirmed": 7,
      "deaths": 2,
      "recovered": 0,
      "active": 5
    },
    {
      "location": "Saint Kitts and Nevis",
      "confirmed": 7,
      "deaths": 0,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Gabon",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Sudan",
      "confirmed": 6,
      "deaths": 2,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Cabo Verde",
      "confirmed": 6,
      "deaths": 1,
      "recovered": 0,
      "active": 5
    },
    {
      "location": "Holy See",
      "confirmed": 6,
      "deaths": 0,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Benin",
      "confirmed": 6,
      "deaths": 0,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Mauritania",
      "confirmed": 5,
      "deaths": 1,
      "recovered": 2,
      "active": 2
    },
    {
      "location": "Nepal",
      "confirmed": 5,
      "deaths": 0,
      "recovered": 1,
      "active": 4
    },
    {
      "location": "Fiji",
      "confirmed": 5,
      "deaths": 0,
      "recovered": 0,
      "active": 5
    },
    {
      "location": "Chad",
      "confirmed": 5,
      "deaths": 0,
      "recovered": 0,
      "active": 5
    },
    {
      "location": "Bhutan",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Nicaragua",
      "confirmed": 4,
      "deaths": 1,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Gambia",
      "confirmed": 4,
      "deaths": 1,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Belize",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Botswana",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Somalia",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Liberia",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Central African Republic",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "MS Zaandam",
      "confirmed": 2,
      "deaths": 0,
      "recovered": 0,
      "active": 2
    },
    {
      "location": "Timor-Leste",
      "confirmed": 1,
      "deaths": 0,
      "recovered": 0,
      "active": 1
    },
    {
      "location": "Papua New Guinea",
      "confirmed": 1,
      "deaths": 0,
      "recovered": 0,
      "active": 1
    },
    {
      "location": "Saint Vincent and the Grenadines",
      "confirmed": 1,
      "deaths": 0,
      "recovered": 1,
      "active": 0
    }
  ]

  $('#search-input').on('keyup',function(){
    var value=$(this).val()
    console.log('Value:',value)
    var data=searchTable(value,myArray)
    buildTable(data)
  })

	buildTable(myArray)

  function searchTable(value,data){
    var filteredData=[]

    for (var i=0;i<data.length;i++){
      value=value.toLowerCase()
      var name=data[i].location.toLowerCase()
      if(name.includes(value)){
        filteredData.push(data[i])
      }
    }
    return filteredData
  }



	function buildTable(data){
		var table = document.getElementById('myTable')
    table.innerHTML=''
		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].location}</td>
							<td>${data[i].confirmed}</td>
							<td>${data[i].deaths}</td>
              <td>${data[i].recovered}</td>
              <td>${data[i].active}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>
<!-- Footer -->
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div>

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/202001/un_precautions_coronavirus-x1080.png" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> Published in public interest</a>
  </div>
  <!-- Copyright -->
  <a href='https://www.stat-counter.org/'>https://www.stat-counter.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a0b8bfccd8110643f4d27a13b44cef6ba91a2f77'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/652660/t/2"></script>


</footer>
<!-- Footer -->
<!-- Footer -->
</html>
