<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    th{
        color:#fff;
            }
    p{
      color:red;
      font-family:courier;
      font-size:190%;
      font-weight: bold;
    }
    .iframe-container {
  overflow: hidden;
  // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: relative;
   top: 0;
   width: 100%;
}


</style>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/1" width="100%" height="475px" frameborder="0"></iframe>
</div>
<div align="center">
  <iframe src="https://datahub.io/core/covid-19/view/3" width="100%" height="475px" frameborder="0"></iframe>
</div>

<div align="center">

  <p> Coronavirus Cases:1691719</p>
  <p> Deaths : 102525 </p>
  <p> Recovered : 376096</p>
	<p> Active : 748292</p>
	<p> Date : 11/04/2020</p>
</div>
<div align="center">
  <p
</div>

<div class="row">
  <div class="col">
    <div class="card card-body">
      <input id="search-input" class="from-control" type="text" placeholder="Enter Country name to search">
    </div>
  </div>
</div>


<table class="table table-striped">
    <tr  class="bg-info">
        <th data-column="country" data-order="desc">Country  </th>

        <th data-column="confirmed" data-order="desc">Confirmed  </th>
        <th data-column="deaths" data-order="desc">Deaths </th>
        <th data-column="recovered" data-order="desc">Recovered  </th>
        <th data-column="recovered" data-order="desc">Active  </th>

    </tr>

    <tbody id="myTable">


    </tbody>
</table>

<script>
	var myArray =[
    {
      "location": "US",
      "confirmed": 496535,
      "deaths": 18586,
      "recovered": 28790,
      "active": 449159
    },
    {
      "location": "Spain",
      "confirmed": 158273,
      "deaths": 16081,
      "recovered": 55668,
      "active": 86524
    },
    {
      "location": "Italy",
      "confirmed": 147577,
      "deaths": 18849,
      "recovered": 30455,
      "active": 98273
    },
    {
      "location": "France",
      "confirmed": 125931,
      "deaths": 13215,
      "recovered": 25195,
      "active": 87521
    },
    {
      "location": "Germany",
      "confirmed": 122171,
      "deaths": 2767,
      "recovered": 53913,
      "active": 65491
    },
    {
      "location": "China",
      "confirmed": 82941,
      "deaths": 3340,
      "recovered": 77791,
      "active": 1810
    },
    {
      "location": "United Kingdom",
      "confirmed": 74605,
      "deaths": 8974,
      "recovered": 588,
      "active": 65043
    },
    {
      "location": "Iran",
      "confirmed": 68192,
      "deaths": 4232,
      "recovered": 35465,
      "active": 28495
    },
    {
      "location": "Turkey",
      "confirmed": 47029,
      "deaths": 1006,
      "recovered": 2423,
      "active": 43600
    },
    {
      "location": "Belgium",
      "confirmed": 26667,
      "deaths": 3019,
      "recovered": 5568,
      "active": 18080
    },
    {
      "location": "Switzerland",
      "confirmed": 24551,
      "deaths": 1002,
      "recovered": 11100,
      "active": 12449
    },
    {
      "location": "Netherlands",
      "confirmed": 23249,
      "deaths": 2520,
      "recovered": 287,
      "active": 20442
    },
    {
      "location": "Canada",
      "confirmed": 22059,
      "deaths": 557,
      "recovered": 5855,
      "active": 0
    },
    {
      "location": "Brazil",
      "confirmed": 19638,
      "deaths": 1057,
      "recovered": 173,
      "active": 18408
    },
    {
      "location": "Portugal",
      "confirmed": 15472,
      "deaths": 435,
      "recovered": 233,
      "active": 14804
    },
    {
      "location": "Austria",
      "confirmed": 13555,
      "deaths": 319,
      "recovered": 6064,
      "active": 7172
    },
    {
      "location": "Russia",
      "confirmed": 11917,
      "deaths": 94,
      "recovered": 795,
      "active": 11028
    },
    {
      "location": "Korea, South",
      "confirmed": 10450,
      "deaths": 208,
      "recovered": 7117,
      "active": 3125
    },
    {
      "location": "Israel",
      "confirmed": 10408,
      "deaths": 95,
      "recovered": 1183,
      "active": 9130
    },
    {
      "location": "Sweden",
      "confirmed": 9685,
      "deaths": 870,
      "recovered": 381,
      "active": 8434
    },
    {
      "location": "Ireland",
      "confirmed": 8089,
      "deaths": 287,
      "recovered": 25,
      "active": 7777
    },
    {
      "location": "India",
      "confirmed": 7598,
      "deaths": 246,
      "recovered": 774,
      "active": 6578
    },
    {
      "location": "Ecuador",
      "confirmed": 7161,
      "deaths": 297,
      "recovered": 368,
      "active": 6496
    },
    {
      "location": "Chile",
      "confirmed": 6501,
      "deaths": 65,
      "recovered": 1571,
      "active": 4865
    },
    {
      "location": "Norway",
      "confirmed": 6314,
      "deaths": 113,
      "recovered": 32,
      "active": 6169
    },
    {
      "location": "Australia",
      "confirmed": 6215,
      "deaths": 54,
      "recovered": 1793,
      "active": 4368
    },
    {
      "location": "Denmark",
      "confirmed": 6014,
      "deaths": 247,
      "recovered": 1929,
      "active": 3838
    },
    {
      "location": "Poland",
      "confirmed": 5955,
      "deaths": 181,
      "recovered": 318,
      "active": 5456
    },
    {
      "location": "Peru",
      "confirmed": 5897,
      "deaths": 169,
      "recovered": 1569,
      "active": 4159
    },
    {
      "location": "Czechia",
      "confirmed": 5732,
      "deaths": 119,
      "recovered": 346,
      "active": 5267
    },
    {
      "location": "Japan",
      "confirmed": 5530,
      "deaths": 99,
      "recovered": 685,
      "active": 4746
    },
    {
      "location": "Romania",
      "confirmed": 5467,
      "deaths": 270,
      "recovered": 729,
      "active": 4468
    },
    {
      "location": "Pakistan",
      "confirmed": 4695,
      "deaths": 66,
      "recovered": 727,
      "active": 3902
    },
    {
      "location": "Malaysia",
      "confirmed": 4346,
      "deaths": 70,
      "recovered": 1830,
      "active": 2446
    },
    {
      "location": "Philippines",
      "confirmed": 4195,
      "deaths": 221,
      "recovered": 140,
      "active": 3834
    },
    {
      "location": "Saudi Arabia",
      "confirmed": 3651,
      "deaths": 47,
      "recovered": 685,
      "active": 2919
    },
    {
      "location": "Indonesia",
      "confirmed": 3512,
      "deaths": 306,
      "recovered": 282,
      "active": 2924
    },
    {
      "location": "Mexico",
      "confirmed": 3441,
      "deaths": 194,
      "recovered": 633,
      "active": 2614
    },
    {
      "location": "United Arab Emirates",
      "confirmed": 3360,
      "deaths": 16,
      "recovered": 418,
      "active": 2926
    },
    {
      "location": "Luxembourg",
      "confirmed": 3223,
      "deaths": 54,
      "recovered": 500,
      "active": 2669
    },
    {
      "location": "Serbia",
      "confirmed": 3105,
      "deaths": 71,
      "recovered": 0,
      "active": 3034
    },
    {
      "location": "Finland",
      "confirmed": 2769,
      "deaths": 48,
      "recovered": 300,
      "active": 2421
    },
    {
      "location": "Panama",
      "confirmed": 2752,
      "deaths": 66,
      "recovered": 16,
      "active": 2670
    },
    {
      "location": "Dominican Republic",
      "confirmed": 2620,
      "deaths": 126,
      "recovered": 98,
      "active": 2396
    },
    {
      "location": "Qatar",
      "confirmed": 2512,
      "deaths": 6,
      "recovered": 227,
      "active": 2279
    },
    {
      "location": "Colombia",
      "confirmed": 2473,
      "deaths": 80,
      "recovered": 197,
      "active": 2196
    },
    {
      "location": "Thailand",
      "confirmed": 2473,
      "deaths": 33,
      "recovered": 1013,
      "active": 1427
    },
    {
      "location": "Ukraine",
      "confirmed": 2203,
      "deaths": 69,
      "recovered": 61,
      "active": 2073
    },
    {
      "location": "Singapore",
      "confirmed": 2108,
      "deaths": 7,
      "recovered": 492,
      "active": 1609
    },
    {
      "location": "Greece",
      "confirmed": 2011,
      "deaths": 92,
      "recovered": 269,
      "active": 1650
    },
    {
      "location": "South Africa",
      "confirmed": 2003,
      "deaths": 24,
      "recovered": 410,
      "active": 1569
    },
    {
      "location": "Belarus",
      "confirmed": 1981,
      "deaths": 19,
      "recovered": 169,
      "active": 1793
    },
    {
      "location": "Argentina",
      "confirmed": 1975,
      "deaths": 82,
      "recovered": 375,
      "active": 1518
    },
    {
      "location": "Egypt",
      "confirmed": 1794,
      "deaths": 135,
      "recovered": 384,
      "active": 1275
    },
    {
      "location": "Algeria",
      "confirmed": 1761,
      "deaths": 256,
      "recovered": 405,
      "active": 1100
    },
    {
      "location": "Iceland",
      "confirmed": 1675,
      "deaths": 7,
      "recovered": 751,
      "active": 917
    },
    {
      "location": "Croatia",
      "confirmed": 1495,
      "deaths": 21,
      "recovered": 231,
      "active": 1243
    },
    {
      "location": "Morocco",
      "confirmed": 1448,
      "deaths": 107,
      "recovered": 122,
      "active": 1219
    },
    {
      "location": "Moldova",
      "confirmed": 1438,
      "deaths": 29,
      "recovered": 56,
      "active": 1353
    },
    {
      "location": "New Zealand",
      "confirmed": 1283,
      "deaths": 2,
      "recovered": 373,
      "active": 908
    },
    {
      "location": "Iraq",
      "confirmed": 1279,
      "deaths": 70,
      "recovered": 550,
      "active": 659
    },
    {
      "location": "Estonia",
      "confirmed": 1258,
      "deaths": 24,
      "recovered": 93,
      "active": 1141
    },
    {
      "location": "Hungary",
      "confirmed": 1190,
      "deaths": 77,
      "recovered": 112,
      "active": 1001
    },
    {
      "location": "Slovenia",
      "confirmed": 1160,
      "deaths": 45,
      "recovered": 137,
      "active": 978
    },
    {
      "location": "Lithuania",
      "confirmed": 999,
      "deaths": 22,
      "recovered": 54,
      "active": 923
    },
    {
      "location": "Kuwait",
      "confirmed": 993,
      "deaths": 1,
      "recovered": 123,
      "active": 869
    },
    {
      "location": "Azerbaijan",
      "confirmed": 991,
      "deaths": 10,
      "recovered": 159,
      "active": 822
    },
    {
      "location": "Armenia",
      "confirmed": 937,
      "deaths": 12,
      "recovered": 149,
      "active": 776
    },
    {
      "location": "Bahrain",
      "confirmed": 925,
      "deaths": 6,
      "recovered": 539,
      "active": 380
    },
    {
      "location": "Bosnia and Herzegovina",
      "confirmed": 901,
      "deaths": 36,
      "recovered": 129,
      "active": 736
    },
    {
      "location": "Cameroon",
      "confirmed": 820,
      "deaths": 12,
      "recovered": 98,
      "active": 710
    },
    {
      "location": "Kazakhstan",
      "confirmed": 812,
      "deaths": 10,
      "recovered": 64,
      "active": 738
    },
    {
      "location": "Slovakia",
      "confirmed": 715,
      "deaths": 2,
      "recovered": 23,
      "active": 690
    },
    {
      "location": "Diamond Princess",
      "confirmed": 712,
      "deaths": 11,
      "recovered": 619,
      "active": 82
    },
    {
      "location": "North Macedonia",
      "confirmed": 711,
      "deaths": 32,
      "recovered": 41,
      "active": 638
    },
    {
      "location": "Tunisia",
      "confirmed": 671,
      "deaths": 25,
      "recovered": 25,
      "active": 621
    },
    {
      "location": "Bulgaria",
      "confirmed": 635,
      "deaths": 25,
      "recovered": 54,
      "active": 556
    },
    {
      "location": "Uzbekistan",
      "confirmed": 624,
      "deaths": 3,
      "recovered": 42,
      "active": 579
    },
    {
      "location": "Latvia",
      "confirmed": 612,
      "deaths": 3,
      "recovered": 16,
      "active": 593
    },
    {
      "location": "Lebanon",
      "confirmed": 609,
      "deaths": 20,
      "recovered": 76,
      "active": 513
    },
    {
      "location": "Andorra",
      "confirmed": 601,
      "deaths": 26,
      "recovered": 71,
      "active": 504
    },
    {
      "location": "Cyprus",
      "confirmed": 595,
      "deaths": 10,
      "recovered": 58,
      "active": 527
    },
    {
      "location": "Cuba",
      "confirmed": 564,
      "deaths": 15,
      "recovered": 51,
      "active": 498
    },
    {
      "location": "Costa Rica",
      "confirmed": 558,
      "deaths": 3,
      "recovered": 42,
      "active": 513
    },
    {
      "location": "Afghanistan",
      "confirmed": 521,
      "deaths": 15,
      "recovered": 32,
      "active": 474
    },
    {
      "location": "Oman",
      "confirmed": 484,
      "deaths": 3,
      "recovered": 109,
      "active": 372
    },
    {
      "location": "Uruguay",
      "confirmed": 473,
      "deaths": 7,
      "recovered": 206,
      "active": 260
    },
    {
      "location": "Cote d'Ivoire",
      "confirmed": 444,
      "deaths": 3,
      "recovered": 52,
      "active": 389
    },
    {
      "location": "Burkina Faso",
      "confirmed": 443,
      "deaths": 24,
      "recovered": 146,
      "active": 273
    },
    {
      "location": "Niger",
      "confirmed": 438,
      "deaths": 11,
      "recovered": 41,
      "active": 386
    },
    {
      "location": "Bangladesh",
      "confirmed": 424,
      "deaths": 27,
      "recovered": 33,
      "active": 364
    },
    {
      "location": "Albania",
      "confirmed": 416,
      "deaths": 23,
      "recovered": 182,
      "active": 211
    },
    {
      "location": "Taiwan*",
      "confirmed": 382,
      "deaths": 6,
      "recovered": 91,
      "active": 285
    },
    {
      "location": "Honduras",
      "confirmed": 382,
      "deaths": 23,
      "recovered": 7,
      "active": 352
    },
    {
      "location": "Ghana",
      "confirmed": 378,
      "deaths": 6,
      "recovered": 4,
      "active": 368
    },
    {
      "location": "Jordan",
      "confirmed": 372,
      "deaths": 7,
      "recovered": 170,
      "active": 195
    },
    {
      "location": "Malta",
      "confirmed": 350,
      "deaths": 2,
      "recovered": 16,
      "active": 332
    },
    {
      "location": "San Marino",
      "confirmed": 344,
      "deaths": 34,
      "recovered": 50,
      "active": 260
    },
    {
      "location": "Mauritius",
      "confirmed": 318,
      "deaths": 9,
      "recovered": 23,
      "active": 286
    },
    {
      "location": "Nigeria",
      "confirmed": 305,
      "deaths": 7,
      "recovered": 58,
      "active": 240
    },
    {
      "location": "Kyrgyzstan",
      "confirmed": 298,
      "deaths": 5,
      "recovered": 35,
      "active": 258
    },
    {
      "location": "Bolivia",
      "confirmed": 268,
      "deaths": 19,
      "recovered": 2,
      "active": 247
    },
    {
      "location": "West Bank and Gaza",
      "confirmed": 267,
      "deaths": 2,
      "recovered": 45,
      "active": 220
    },
    {
      "location": "Senegal",
      "confirmed": 265,
      "deaths": 2,
      "recovered": 137,
      "active": 126
    },
    {
      "location": "Vietnam",
      "confirmed": 257,
      "deaths": 0,
      "recovered": 144,
      "active": 113
    },
    {
      "location": "Montenegro",
      "confirmed": 255,
      "deaths": 2,
      "recovered": 4,
      "active": 249
    },
    {
      "location": "Kosovo",
      "confirmed": 250,
      "deaths": 7,
      "recovered": 52,
      "active": 191
    },
    {
      "location": "Georgia",
      "confirmed": 234,
      "deaths": 3,
      "recovered": 54,
      "active": 177
    },
    {
      "location": "Congo (Kinshasa)",
      "confirmed": 215,
      "deaths": 20,
      "recovered": 13,
      "active": 182
    },
    {
      "location": "Guinea",
      "confirmed": 212,
      "deaths": 0,
      "recovered": 15,
      "active": 197
    },
    {
      "location": "Sri Lanka",
      "confirmed": 190,
      "deaths": 7,
      "recovered": 54,
      "active": 129
    },
    {
      "location": "Kenya",
      "confirmed": 189,
      "deaths": 7,
      "recovered": 22,
      "active": 160
    },
    {
      "location": "Venezuela",
      "confirmed": 171,
      "deaths": 9,
      "recovered": 84,
      "active": 78
    },
    {
      "location": "Djibouti",
      "confirmed": 150,
      "deaths": 1,
      "recovered": 36,
      "active": 113
    },
    {
      "location": "Brunei",
      "confirmed": 136,
      "deaths": 1,
      "recovered": 99,
      "active": 36
    },
    {
      "location": "Paraguay",
      "confirmed": 129,
      "deaths": 6,
      "recovered": 18,
      "active": 105
    },
    {
      "location": "Guatemala",
      "confirmed": 126,
      "deaths": 3,
      "recovered": 17,
      "active": 106
    },
    {
      "location": "Cambodia",
      "confirmed": 119,
      "deaths": 0,
      "recovered": 72,
      "active": 47
    },
    {
      "location": "Rwanda",
      "confirmed": 118,
      "deaths": 0,
      "recovered": 7,
      "active": 111
    },
    {
      "location": "El Salvador",
      "confirmed": 117,
      "deaths": 6,
      "recovered": 15,
      "active": 96
    },
    {
      "location": "Trinidad and Tobago",
      "confirmed": 109,
      "deaths": 8,
      "recovered": 1,
      "active": 100
    },
    {
      "location": "Madagascar",
      "confirmed": 93,
      "deaths": 0,
      "recovered": 11,
      "active": 82
    },
    {
      "location": "Monaco",
      "confirmed": 90,
      "deaths": 1,
      "recovered": 5,
      "active": 84
    },
    {
      "location": "Mali",
      "confirmed": 87,
      "deaths": 7,
      "recovered": 22,
      "active": 58
    },
    {
      "location": "Liechtenstein",
      "confirmed": 79,
      "deaths": 1,
      "recovered": 55,
      "active": 23
    },
    {
      "location": "Togo",
      "confirmed": 76,
      "deaths": 3,
      "recovered": 25,
      "active": 48
    },
    {
      "location": "Barbados",
      "confirmed": 67,
      "deaths": 4,
      "recovered": 11,
      "active": 52
    },
    {
      "location": "Ethiopia",
      "confirmed": 65,
      "deaths": 3,
      "recovered": 4,
      "active": 58
    },
    {
      "location": "Jamaica",
      "confirmed": 63,
      "deaths": 4,
      "recovered": 13,
      "active": 46
    },
    {
      "location": "Congo (Brazzaville)",
      "confirmed": 60,
      "deaths": 5,
      "recovered": 5,
      "active": 50
    },
    {
      "location": "Uganda",
      "confirmed": 53,
      "deaths": 0,
      "recovered": 0,
      "active": 53
    },
    {
      "location": "Gabon",
      "confirmed": 44,
      "deaths": 1,
      "recovered": 1,
      "active": 42
    },
    {
      "location": "Bahamas",
      "confirmed": 42,
      "deaths": 8,
      "recovered": 5,
      "active": 29
    },
    {
      "location": "Zambia",
      "confirmed": 40,
      "deaths": 2,
      "recovered": 25,
      "active": 13
    },
    {
      "location": "Guyana",
      "confirmed": 37,
      "deaths": 6,
      "recovered": 8,
      "active": 23
    },
    {
      "location": "Liberia",
      "confirmed": 37,
      "deaths": 5,
      "recovered": 3,
      "active": 29
    },
    {
      "location": "Guinea-Bissau",
      "confirmed": 36,
      "deaths": 0,
      "recovered": 0,
      "active": 36
    },
    {
      "location": "Benin",
      "confirmed": 35,
      "deaths": 1,
      "recovered": 5,
      "active": 29
    },
    {
      "location": "Eritrea",
      "confirmed": 34,
      "deaths": 0,
      "recovered": 0,
      "active": 34
    },
    {
      "location": "Tanzania",
      "confirmed": 32,
      "deaths": 3,
      "recovered": 5,
      "active": 24
    },
    {
      "location": "Haiti",
      "confirmed": 31,
      "deaths": 2,
      "recovered": 0,
      "active": 29
    },
    {
      "location": "Burma",
      "confirmed": 27,
      "deaths": 3,
      "recovered": 2,
      "active": 22
    },
    {
      "location": "Libya",
      "confirmed": 24,
      "deaths": 1,
      "recovered": 8,
      "active": 15
    },
    {
      "location": "Somalia",
      "confirmed": 21,
      "deaths": 1,
      "recovered": 1,
      "active": 19
    },
    {
      "location": "Mozambique",
      "confirmed": 20,
      "deaths": 0,
      "recovered": 2,
      "active": 18
    },
    {
      "location": "Antigua and Barbuda",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 0,
      "active": 17
    },
    {
      "location": "Angola",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 2,
      "active": 15
    },
    {
      "location": "Syria",
      "confirmed": 19,
      "deaths": 2,
      "recovered": 4,
      "active": 13
    },
    {
      "location": "Maldives",
      "confirmed": 19,
      "deaths": 0,
      "recovered": 13,
      "active": 6
    },
    {
      "location": "Equatorial Guinea",
      "confirmed": 18,
      "deaths": 0,
      "recovered": 3,
      "active": 15
    },
    {
      "location": "Sudan",
      "confirmed": 17,
      "deaths": 2,
      "recovered": 2,
      "active": 13
    },
    {
      "location": "Mongolia",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 4,
      "active": 12
    },
    {
      "location": "Dominica",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 5,
      "active": 11
    },
    {
      "location": "Laos",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 0,
      "active": 16
    },
    {
      "location": "Fiji",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 0,
      "active": 16
    },
    {
      "location": "Namibia",
      "confirmed": 16,
      "deaths": 0,
      "recovered": 3,
      "active": 13
    },
    {
      "location": "Saint Lucia",
      "confirmed": 15,
      "deaths": 0,
      "recovered": 1,
      "active": 14
    },
    {
      "location": "Grenada",
      "confirmed": 14,
      "deaths": 0,
      "recovered": 0,
      "active": 14
    },
    {
      "location": "Zimbabwe",
      "confirmed": 13,
      "deaths": 3,
      "recovered": 0,
      "active": 10
    },
    {
      "location": "Botswana",
      "confirmed": 13,
      "deaths": 1,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Eswatini",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 7,
      "active": 5
    },
    {
      "location": "Saint Vincent and the Grenadines",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 1,
      "active": 11
    },
    {
      "location": "Saint Kitts and Nevis",
      "confirmed": 12,
      "deaths": 0,
      "recovered": 0,
      "active": 12
    },
    {
      "location": "Seychelles",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 0,
      "active": 11
    },
    {
      "location": "Chad",
      "confirmed": 11,
      "deaths": 0,
      "recovered": 2,
      "active": 9
    },
    {
      "location": "Suriname",
      "confirmed": 10,
      "deaths": 1,
      "recovered": 4,
      "active": 5
    },
    {
      "location": "Belize",
      "confirmed": 10,
      "deaths": 2,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Nepal",
      "confirmed": 9,
      "deaths": 0,
      "recovered": 1,
      "active": 8
    },
    {
      "location": "MS Zaandam",
      "confirmed": 9,
      "deaths": 2,
      "recovered": 0,
      "active": 7
    },
    {
      "location": "Malawi",
      "confirmed": 9,
      "deaths": 1,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Central African Republic",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Holy See",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 2,
      "active": 6
    },
    {
      "location": "Sierra Leone",
      "confirmed": 8,
      "deaths": 0,
      "recovered": 0,
      "active": 8
    },
    {
      "location": "Nicaragua",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 0,
      "active": 6
    },
    {
      "location": "Mauritania",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 2,
      "active": 4
    },
    {
      "location": "Cabo Verde",
      "confirmed": 7,
      "deaths": 1,
      "recovered": 1,
      "active": 5
    },
    {
      "location": "Bhutan",
      "confirmed": 5,
      "deaths": 0,
      "recovered": 2,
      "active": 3
    },
    {
      "location": "Sao Tome and Principe",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Gambia",
      "confirmed": 4,
      "deaths": 1,
      "recovered": 2,
      "active": 1
    },
    {
      "location": "South Sudan",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Western Sahara",
      "confirmed": 4,
      "deaths": 0,
      "recovered": 0,
      "active": 4
    },
    {
      "location": "Burundi",
      "confirmed": 3,
      "deaths": 0,
      "recovered": 0,
      "active": 3
    },
    {
      "location": "Timor-Leste",
      "confirmed": 2,
      "deaths": 0,
      "recovered": 1,
      "active": 1
    },
    {
      "location": "Papua New Guinea",
      "confirmed": 2,
      "deaths": 0,
      "recovered": 0,
      "active": 2
    },
    {
      "location": "Yemen",
      "confirmed": 1,
      "deaths": 0,
      "recovered": 0,
      "active": 1
    }
  ]
  $('#search-input').on('keyup',function(){
    var value=$(this).val()
    console.log('Value:',value)
    var data=searchTable(value,myArray)
    buildTable(data)
  })

	buildTable(myArray)

  function searchTable(value,data){
    var filteredData=[]

    for (var i=0;i<data.length;i++){
      value=value.toLowerCase()
      var name=data[i].location.toLowerCase()
      if(name.includes(value)){
        filteredData.push(data[i])
      }
    }
    return filteredData
  }



	function buildTable(data){
		var table = document.getElementById('myTable')
    table.innerHTML=''
		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].location}</td>
							<td>${data[i].confirmed}</td>
							<td>${data[i].deaths}</td>
              <td>${data[i].recovered}</td>
              <td>${data[i].active}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>
<!-- Footer -->
<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div>

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/bodyeditor/202001/un_precautions_coronavirus-x1080.png" class="img-fluid"
            alt="">
          <a href="">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href=""> Published in public interest</a>
  </div>
  <!-- Copyright -->
  <a href='https://www.stat-counter.org/'>https://www.stat-counter.org</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=a0b8bfccd8110643f4d27a13b44cef6ba91a2f77'></script>
<script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/652660/t/2"></script>


</footer>
<!-- Footer -->
<!-- Footer -->
</html>
